* {
    padding: 0;
    margin: 0;
}
.body_wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.box_wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}
.box {
    flex: 1;
    border: 1px solid #ccc;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.box.win {
    border: 10px solid greenyellow;
}
.box.lose {
    border: 10px solid red;
}
.box.tie {
    border: 10px solid #ccc;
}
.box p {
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 40px;
}
.btn_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 10px;
}
.btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 20px;
}
.btn_wrap button {
    display: block;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 10px;
    padding: 10px;
    font-size: 30px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 20px;
}
.counter_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
}
.counter_wrap button {
    border: 1px solid #ccc;
    outline: none;
    background: none;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}
